# Pandas

**Pandas** es la librería por excelencia para el análisis de datos del lenguaje `Python`. Su nombre proviene de “panel data” (término econométrico). Inspirada en las funcionalidades de `R`, pero con el potencial de este lenguaje de propósito general.

**Pandas** incluye todas las funcionalidades necesarias para el proceso de análisis de datos: carga, filtrado, tratamiento, síntesis, agrupamiento, almacenamiento y visualización. Además, se integra con el resto de librerías de cálculo numérico como `Numpy`, `Matplotlib`, `scikit-learn`, …  y de despliegue: `HPC`, `Cloud`, etc.

En resumen, **es como una hoja de cálculo -por ejemplo excel- pero con más mucho más potencial!!!**

[Características principales](https://github.com/pandas-dev/pandas#main-features)

## Introducción a Pandas

Todo el trabajo que realizaremos es sobre la estructura de datos básica: el `dataFrame`.

Un `dataFrame` es un objeto de dos dimensiones que contiene información. También puede verse como una **hoja de cálculo**, como una tabla de un modelo entidad-relación, o como una colección de una base de datos no relacional.

[Documentación](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html)

Importación de la libreria
```Python
import pandas as pd
import pandas
from pandas import *
```

Por convención se hace de la siguiente manera, todas las funciones de la libreria se tienen que llamar con el prefijo pd.*:

In [1]:
import pandas as pd

# Primeros pasos con Pandas
Vamos a aprender Pandas a través de una serie de proyectos y ejemplos. En esta primera fase, vamos a cargar datos de un fichero _CSV_, recordad que son ficheros donde los atributos/valores de una observación están separados por una coma y las observaciones se separan mediante un salto de línea.

Podemos descargar los datos con los que trabajaremos del siguiente enlace [WHO dataset](http://www.exploredata.net/Downloads/WHO-Data-Set)

Empezamos viendo como se carga un dataframe a partir de un fichero en formato CSV.

In [2]:
df = pd.read_csv("data/WHO.csv")

A continuación se muestra la estructura interna del DataFrame. Se puede ver que és muy parecido a una tabla bidimensional:

In [3]:
df

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0,4.0,...,692.50,NaN,NaN,NaN,257.00,231.9,257.00,5740436.0,5.44,22.9
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0,0.6,...,3499.12,4.790000e+09,78.14,-2.040000e+09,18.47,15.5,18.47,1431793.9,2.21,45.4
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0,1.5,...,137535.56,6.970000e+10,351.36,4.700000e+09,40.00,31.2,40.00,20800000.0,2.61,63.3
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0,2.8,...,8991.46,1.490000e+10,27.13,9.140000e+09,164.10,242.5,164.10,8578749.0,4.14,53.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,Vietnam,198,6,25.0,90.3,2310.0,91.0,96.0,86206.0,1.4,...,101826.23,4.480000e+10,47.11,-1.940000e+09,20.20,23.4,20.20,21900000.0,2.90,26.4
198,West Bank and Gaza,199,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,655.86,3.780000e+09,NaN,NaN,28.00,25.8,28.00,2596216.0,3.33,71.6
199,Yemen,200,1,83.0,54.1,2090.0,65.0,85.0,21732.0,3.0,...,20148.34,1.150000e+10,114.52,8.310000e+08,82.40,87.9,82.40,5759120.5,4.37,27.3
200,Zambia,201,3,161.0,68.0,1140.0,94.0,90.0,11696.0,1.9,...,2366.94,4.090000e+09,10.41,-4.470000e+08,175.30,163.8,175.30,4017411.0,1.95,35.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0,0.8,...,11457.33,5.620000e+09,3.39,-1.710000e+08,106.50,67.0,106.50,4709965.0,1.90,35.9

### Atributos de un DataFrame

Un dataframe dispone de diferentes atributos con los que podemos obtener su información o metainformación. Los siguientes ejemplos muestran cómo se pueden consultar sus dimensiones o un listado del nombre de sus columnas:

In [4]:
df.shape # Ver las dimensiones **

(202, 358)

In [5]:
df.columns #**

Index(['Country', 'CountryID', 'Continent', 'Adolescent fertility rate (%)',
       'Adult literacy rate (%)',
       'Gross national income per capita (PPP international $)',
       'Net primary school enrolment ratio female (%)',
       'Net primary school enrolment ratio male (%)',
       'Population (in thousands) total', 'Population annual growth rate (%)',
       ...
       'Total_CO2_emissions', 'Total_income', 'Total_reserves',
       'Trade_balance_goods_and_services', 'Under_five_mortality_from_CME',
       'Under_five_mortality_from_IHME', 'Under_five_mortality_rate',
       'Urban_population', 'Urban_population_growth',
       'Urban_population_pct_of_total'],
      dtype='object', length=358)

Podemos aplicar sobre el listado de columnas todas las operaciones sobre listas que hemos visto en la introducción del curso. A continuación tenemos dos ejemplos de indexación:

In [6]:
df.columns[0]

'Country'

In [7]:
df.columns[:2]

Index(['Country', 'CountryID'], dtype='object')

**¿Cómo consultariais el nombre de la columna 10? ¿y los de las columnas de la 200 a la 225?**

In [8]:
df.columns[200:226]

df.columns[len(df.columns)-3:len(df.columns)]

Index(['Urban_population', 'Urban_population_growth',
       'Urban_population_pct_of_total'],
      dtype='object')

## Funciones descriptivas de un dataframe

`Pandas` ofrece una colección de funciones que permiten realizar una inspección general de la tabla de datos:

- **describe**: muestra estadísticas descriptivas básicas para todas las columnas numéricas.
- **info**: muestra todas las columnas y sus tipos de datos.
- **head** i **tail**: muestra las $n$ primeras/últimas filas. El valor de $n$ es un parámetro de este método.

In [9]:
df.describe()

,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),Population in urban areas (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
count,202.000000,202.000000,177.000000,131.000000,178.000000,179.000000,179.000000,1.930000e+02,193.000000,193.000000,...,1.860000e+02,1.780000e+02,128.000000,1.710000e+02,181.000000,170.000000,181.000000,1.880000e+02,188.000000,188.000000
mean,101.500000,3.579208,59.457627,78.871756,11250.112360,84.033520,85.698324,3.409805e+04,1.297927,54.911917,...,1.483596e+05,2.015567e+11,57.253516,3.424012e+08,56.677624,54.356471,56.677624,1.665763e+07,2.165851,55.195213
std,58.456537,1.808263,49.105286,20.415760,12586.753417,17.788047,15.451212,1.304957e+05,1.163864,23.554182,...,6.133091e+05,9.400689e+11,138.669298,5.943043e+10,60.060929,61.160556,60.060929,5.094867e+07,1.596628,23.742122
min,1.000000,1.000000,0.000000,23.600000,260.000000,6.000000,11.000000,2.000000e+00,-2.500000,10.000000,...,2.565000e+01,5.190000e+07,0.990000,-7.140000e+11,2.900000,3.000000,2.900000,1.545600e+04,-1.160000,10.000000
25%,51.250000,2.000000,19.000000,68.400000,2112.500000,79.000000,79.500000,1.340000e+03,0.500000,36.000000,...,1.672615e+03,3.317500e+09,16.292500,-1.210000e+09,12.400000,8.475000,12.400000,9.171623e+05,1.105000,35.650000
50%,101.500000,3.000000,46.000000,86.500000,6175.000000,90.000000,90.000000,6.762000e+03,1.300000,57.000000,...,1.021157e+04,1.145000e+10,28.515000,-2.240000e+08,29.980000,27.600000,29.980000,3.427661e+06,1.945000,57.300000
75%,151.750000,5.000000,91.000000,95.300000,14502.500000,96.000000,96.000000,2.173200e+04,2.100000,73.000000,...,6.549217e+04,8.680000e+10,55.310000,1.024000e+09,88.700000,82.900000,88.700000,9.837113e+06,3.252500,72.750000
max,202.000000,7.000000,199.000000,99.800000,60870.000000,100.000000,100.000000,1.328474e+06,4.300000,100.000000,...,5.776432e+06,1.100000e+13,1334.860000,1.390000e+11,267.000000,253.700000,267.000000,5.270000e+08,7.850000,100.000000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Columns: 358 entries, Country to Urban_population_pct_of_total
dtypes: float64(355), int64(2), object(1)
memory usage: 565.1+ KB

In [11]:
df.head(5)

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0,4.0,...,692.50,NaN,NaN,NaN,257.00,231.9,257.00,5740436.0,5.44,22.9
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0,0.6,...,3499.12,4.790000e+09,78.14,-2.040000e+09,18.47,15.5,18.47,1431793.9,2.21,45.4
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0,1.5,...,137535.56,6.970000e+10,351.36,4.700000e+09,40.00,31.2,40.00,20800000.0,2.61,63.3
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0,2.8,...,8991.46,1.490000e+10,27.13,9.140000e+09,164.10,242.5,164.10,8578749.0,4.14,53.3

In [12]:
df.tail()

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
197,Vietnam,198,6,25.0,90.3,2310.0,91.0,96.0,86206.0,1.4,...,101826.23,4.480000e+10,47.11,-1.940000e+09,20.2,23.4,20.2,21900000.0,2.90,26.4
198,West Bank and Gaza,199,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,655.86,3.780000e+09,NaN,NaN,28.0,25.8,28.0,2596216.0,3.33,71.6
199,Yemen,200,1,83.0,54.1,2090.0,65.0,85.0,21732.0,3.0,...,20148.34,1.150000e+10,114.52,8.310000e+08,82.4,87.9,82.4,5759120.5,4.37,27.3
200,Zambia,201,3,161.0,68.0,1140.0,94.0,90.0,11696.0,1.9,...,2366.94,4.090000e+09,10.41,-4.470000e+08,175.3,163.8,175.3,4017411.0,1.95,35.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0,0.8,...,11457.33,5.620000e+09,3.39,-1.710000e+08,106.5,67.0,106.5,4709965.0,1.90,35.9

In [13]:
df.tail(2)

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
200,Zambia,201,3,161.0,68.0,1140.0,94.0,90.0,11696.0,1.9,...,2366.94,4.090000e+09,10.41,-447000000.0,175.3,163.8,175.3,4017411.0,1.95,35.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0,0.8,...,11457.33,5.620000e+09,3.39,-171000000.0,106.5,67.0,106.5,4709965.0,1.90,35.9

## Selección de información: columnas o filas

Como ya imaginamos, **un dataframe no es una lista**, no podemos acceder de manera directa a su información mediante el uso del operador `[]`.

La siguiente sentencia dará un error de ejecución:

In [14]:
df[0]

KeyError: 0

Si inspeccionamos y comparamos los tipos del dataframe y de las columnas...

In [15]:
type(df)

pandas.core.frame.DataFrame

In [16]:
type(df.columns)

pandas.core.indexes.base.Index

### Columnas

Podemos utilizar el nombre de una columna para obtener los datos de dicha columna, tal como lo hacíamos con un diccionario `python`. Veremos dos maneras diferentes de hacerlo:

In [17]:
paises = df["Country"]
print(paises[0:10])

0            Afghanistan
1                Albania
2                Algeria
3                Andorra
4                 Angola
5    Antigua and Barbuda
6              Argentina
7                Armenia
8              Australia
9                Austria
Name: Country, dtype: object

In [18]:
df.Country

descripcion = df.describe()
descripcion.columns
resumen = descripcion["Total_CO2_emissions"]
print(resumen[0])

186.0

**¿Qué tipo de datos es una columna?**

In [19]:
type(df.Country)

pandas.core.series.Series

Las `Series` són la otra estructura básica de Pandas. Las filas y las columnas se estructuran en `Series`, se pueden ver cómo un tipo de lista que solamente puede contener un único tipo de datos, acepta operaciones vectoriales y se puede indexar de manera similar a un diccionario.

### Filas

Así como seleccionamos columnas, podemos seleccionar información con para obtener filas. Para realizar la consulta de una fila concreta usaremos el atributo `loc` de los dataframes.

In [20]:
print(df.loc[0])

Country                           Afghanistan
CountryID                                   1
Continent                                   1
Adolescent fertility rate (%)           151.0
Adult literacy rate (%)                  28.0
                                     ...
Under_five_mortality_from_IHME          231.9
Under_five_mortality_rate               257.0
Urban_population                    5740436.0
Urban_population_growth                  5.44
Urban_population_pct_of_total            22.9
Name: 0, Length: 358, dtype: object

Si lo que necesitamos es obtener son los valores, necesitaremos el atributo `values`:

In [21]:
df.loc[0].values

array(['Afghanistan', 1, 1, 151.0, 28.0, nan, nan, nan, 26088.0, 4.0,
       23.0, nan, 16.0, 4.0, 47.0, 6.0, 7.2, nan, nan, nan, 14.0, nan,
       nan, nan, nan, nan, nan, 10.3, 73.0, 70.0, 83.0, 83.0, nan, 66.0,
       90.0, nan, nan, nan, nan, nan, 20.1, 27.5, 4.4, 4.0, nan, nan,
       900.0, nan, nan, 14930.0, nan, 900.0, 5970.0, 5.0, nan, 97.2, 8.0,
       6.0, 29.0, 23.0, nan, 2.0, 72.5, 0.0, nan, 2.5, 0.0, 5.4, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, 473.0, 443.0, 500.0, 153.0,
       706.0, 134.0, 1269.0, 18.9, 0.3, 1.1, 1.0, 5.9, 26.0, 22.1, 24.8,
       10.0, 32.0, 0.0, 36.0, 36.0, 35.0, 161.0, 165.0, 154.0, 176.0,
       42.0, 43.0, 42.0, 1800.0, 60.0, 16.0, 100.0, 231.0, 257.0, 254.0,
       260.0, 76.0, 6.0, 18.0, 4.6, 59.3, 32.9, nan, 0.01, nan, nan, 17.0,
       22.0, 37.0, 25.0, 30.0, 45.0, nan, nan, nan, nan, 9.8, 3.2, 13.1,
       nan, nan, nan, nan, 58.35, 36.1, nan, 108.83, 2750000000.0, 168.0,
       87.0, 42.29, 0.0, 28000000.0, 2.9, 14.3, 11.7, 26.8, 874.0, 2021.0,
       220.0, 0.000878, 0.02, 0.04, 62300000000.0, 4.0, 600000.0, nan,
       3.6, 6.9, 254.0, 511.0, 96.8, nan, nan, 1792633.0, 7.07, nan, nan,
       nan, nan, 3.3, 2.8, 5.2, 4.5, 193.0, 236.0, 316.0, 377.0, nan,
       10.3, 33.0, nan, -7.0, nan, nan, nan, nan, nan, nan, nan, 12.43,
       nan, nan, nan, nan, 5.19, 0.0, nan, 8670.0, 25.05, nan, 20.0, 4.16,
       1.04, 3.3, 20.0, 5.2, nan, nan, nan, 55.66, nan, 49.0, 39.0, nan,
       874.0, nan, 24.48, nan, 165.0, 76.0, 40.0, 90.0, 11.9, 1.0, 43.4,
       12.59, 43.14, 28.0, 18.39, 50.81, 34.26, 3.5, 2.3, 3.7, 2.5, 147.0,
       218.0, 155.0, 233.0, 11.3, 2.7, 12.2, 2.9, 173.0, 675.0, 190.0,
       732.0, nan, nan, nan, nan, 1900.0, nan, nan, 64.0, 0.19, 39.42,
       9.93, nan, nan, nan, nan, nan, nan, nan, nan, nan, 8242.0, 66826.0,
       nan, nan, nan, nan, nan, nan, 717.04, nan, nan, nan, nan, nan, nan,
       nan, nan, 29900000.0, nan, nan, 37.73, nan, nan, nan, nan, 2.8,
       4.5, 151.0, 249.0, 0.68, 55.57, 36.2, 23.66, 3.14, 39.42, 15.8,
       8.3, 18.5, 9.7, 499.0, 936.0, 592.0, 1108.0, nan, 652090.0, nan,
       692.5, nan, nan, nan, 257.0, 231.9, 257.0, 5740436.0, 5.44, 22.9],
      dtype=object)

#### Selección de filas con slicing

Utilizando el atributo `loc` del dataframe podemos seleccionar y filtrar las filas utilizando los _slicing_ típicos de `Python`.

Recordemos el _slicing_:
```{python}
sublista = lista[start:stop:step]
```

Dónde:
* **start**: Posición de la lista original dónde empieza la sublista. Si no se indica és 0.
* **stop**:  Posición de la lista original hasta donde seleccionar. Se selecciona hasta la posición stop - 1.
* **step**:  Incremento entre cada índice de la selección, por defecto 1.

Si entendemos el concepto para un array...

In [22]:
array =[1,2,3,4,5,6,7,9,0]
print(array[0:2]) #**
print(array[3:]) #**
print(array[:3]) #**

[1, 2]
[4, 5, 6, 7, 9, 0]
[1, 2, 3]

... podemos hacer las mismas operaciones con las filas de un _dataFrame_.

In [23]:
df.loc[4:10:2]

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0,2.8,...,8991.46,1.490000e+10,27.13,9.140000e+09,164.1,242.5,164.1,8578749.0,4.14,53.3
6,Argentina,7,5,62.0,97.2,11670.0,98.0,99.0,39134.0,1.0,...,152711.86,3.140000e+11,21.11,1.190000e+10,18.1,16.7,18.1,34900000.0,1.17,90.1
8,Australia,9,6,16.0,NaN,33940.0,97.0,96.0,20530.0,1.1,...,368858.53,4.680000e+11,NaN,-1.280000e+10,5.9,5.1,5.9,18000000.0,1.54,88.2
10,Azerbaijan,11,2,31.0,98.8,5430.0,83.0,86.0,8406.0,0.6,...,36629.01,9.930000e+09,64.89,1.330000e+09,50.0,63.7,50.0,4321803.0,1.26,51.5

In [ ]:
df.loc[200:]

### Selección de filas y columnas

Si seguimos con la misma lógica, usando el atributo `loc` de los _dataFrames_.

In [ ]:
df.loc[0:1]

Las columnas se deben seleccionar con una **lista** que debe contener el nombre de las columnas deseadas.

In [ ]:
df.loc[0:1,["Continent"]]

In [ ]:
df.loc[0:3,["Continent","Total_CO2_emissions"]]

Alternativamente, con el atributo _iloc_ podemos seleccionar las columnas con su índice numérico: su posicion en la lista de columnas.

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[0:4, 3:7] # ídem a una matriz

In [ ]:
df.iloc[0][0]

In [ ]:
df.iloc[0][0:4]

In [ ]:
df.iloc[0][0:4].values

In [ ]:
df.iloc[0][0:4].values[0]

### Selección lógica

Además de la selección con base a índices, lo interesante es realizar selecciones mediante condiciones lógicas que permiten filtrar las filas del dataset. Si queremos obtener el país con el valor de emisiones de CO2 más alto:

In [ ]:
co2 = df["Total_CO2_emissions"]
row = df[co2 == co2.max()]  # Esto es una condición dentro de la selección
type(row)

La variable `row` contiene la fila con el valor máximo en la columna  `Total_CO2_emissions`. Ahora podemos seleccionar diferentes columnas/valores de esta fila:

In [ ]:
print(row["Total_CO2_emissions"])
print(row["Country"])

In [ ]:
#Los valores del objeto son una lista
row["Country"]

In [ ]:
row["Country"].values

In [ ]:
print("El pais mas contaminante es: " + row["Country"].values[0])

### Síntesis de información

Con una sola línea de código podemos generar la siguiente información:

In [ ]:
print("Valor medio de %s = %f " %(df.columns[3], df[df.columns[3]].mean()))
print("Valor medio de " +  df.columns[3] + " = " + str(df[df.columns[3]].mean())) #(df.columns[3], df[df.columns[3]].mean()))

In [ ]:
print(df.columns[3]) # nombre columna

In [ ]:
print(df[df.columns[3]]) # Serie de los datos de la columna

###### ¿Cómo consultarias la serie de la columna "Total_reserves"?

In [ ]:
reservas = df.Total_reserves


Sobre las series se puede sintetizar información

In [ ]:
fertilidad = df[df.columns[3]]
print("Minimo %f " %fertilidad.min())
print("Max %f " %fertilidad.max())
print("Mean %f " %fertilidad.mean())
print("Descripción de la serie:\n%s " %fertilidad.describe())

## Tabla con las funciones descriptivas
<img src="https://i.imgur.com/OYnOFwL.png">

## Ejercicios

**1) ¿Cuál és la media de la población urbana ("Urban_population") de todos los países? ¿Su desviación típica (std)?**

**2) Consulta la fila del país: “Spain”**

**3a) ¿Qué país tiene una mayor población urbana?**

**3b) ¿Qué paises tienen una población urbana menor a 50000 ?**

**4) ¿El continente donde está situado Spain es el mismo que el de `United States of America?**

Utiliza una condición para obtener un resultado Booleano (*True* o *False*)

**5) ¿Cuáles son los cinco paises más contaminantes ("Total_CO2_emissions")?**

Esta es mi pista para una solución elegante: http://pandas.pydata.org/pandas-docs/version/0.19.2/generated/pandas.DataFrame.sort_values.html

**6) Observando algunas muestras del fichero puedes establecer la relación entre el identificador del continente y su nombre?**

Es decir, sabemos que Spain está en el continente Europeo y el código del continente es el 2. 

Existen los códigos de continentes: 1, 2, 3, 4, 5, 6, 7

**Nota:** Hay dos códigos asociados a Asia.

Haz las consultas pertinentes al dataframe para construir un diccionario con la siguiente estructura:

In [ ]:
codigoContinentes = {1:"Asia",2:"Europa"} #Al menos hay 7!
print(codigoContinentes[2])

In [ ]:
codigoContinentes[3] = ""
codigoContinentes[4] = ""
codigoContinentes[5] = ""
codigoContinentes[6] = ""
codigoContinentes[7] = ""

**7) Una vez identificado el nombre de los continentes, ¿puedes cambiar la columna de identificadores de continentes por sus respectivos nombres?**

Esta es es mi pista para una solución elegante: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.map.html

**8) Puedes crear un nuevo dataframe con aquellos paises que sean de Europa?**

In [ ]:
df2 = df #Con una simple asignación ya creas una dataframe 
type(df2)

**9) ¿Cuáles son los paises más contaminantes de Europa?**

Propuesta A: usa el dataframe inicial

Propuesta B: usa el dataframe de la actividad 8

## Modificación del _dataframe_

Además de realizar selecciones, en algunos momentos necesitaremos incorporar nueva información a nuestras tablas de datos.

Vamos a crear un pequeño conjunto para practicar:

In [ ]:
df2 = pd.DataFrame([('Foreign Cinema', 'Restaurant', 289.0),
                   ('Liho Liho', 'Restaurant', 224.0),
                   ('500 Club', 'bar', 80.5),
                   ('The Square', 'bar', 25.30)],
           columns=('name', 'type', 'AvgBill')
                 )
df2

#### Añadir columnas

Tenemos diversas maneras de añadir columnas a un _dataFrame_:

- Mediante el nombre de la columna que queremos añadir, tal como añadimos una nueva clave a un diccionario.
- `insert`: es un método que necesita 3 parámetros. La posición en la que queremos añadir la columna (`loc`), su nombre (´column´) y la lista de valores (`value`).
- `assign`: muy similar a la anterior, pero permite añadir múltiples columnas.
- `concat`: no se suele usar para concatenar columnas, en el caso que queramos usarlo para este caso, deberemos poner el parámetro `axis=1`.

Veamos algunos ejemplos:

In [ ]:
df2['Day'] = "Monday" # Como un diccionario
df2

In [ ]:
df2['Day'] = ['Monday', 'Tuesday', 'Wednesday', 'Thursday']
df2

In [ ]:
#Vamos a usar el método insert
df2.insert(loc=1, column="Stars", value=[2,2,3,4])
df2

In [ ]:
df3 = df2.assign(AvgHalfBill=df2.AvgBill / 2, Michelin_Star=3)
df3


#### Añadir filas

Para añadir filas a un _dataframe_ tenemos dos métodos que realizan la tarea y devuelven un nuevo _dataFrame_:

- append: añade una fila a un _dataFrame_. La fila puede ser un diccionario, una `Serie` o otro `Dataframe`. El parámetro `ignore_index = True` significa que se ignorará el índice de la serie o el _dataFrame_ de origen. En su lugar, se utilizará el índice disponible en el _dataFrame_ de destino. El valor `False` significa lo contrario.
- concat: concatena dos o más _dataFrames_ separados por comas.

#### Eliminar filas y columnas


Tenemos el método `drop` que nos proporciona un nuevo _dataFrame_ sin la(s) fila(s) o la(s) columna(s) que seleccionemos. 
Si queremos eliminar columnas podemos hacerlo especificando la lista de columnas en el parámetro `columns` de la siguiente manera:

In [ ]:
df_no_michelin = df3.drop(columns=["Michelin_Star"]) # Eliminamos la última columna que hemos creado
df_no_michelin

Para poder eliminar filas, usamos la misma función, esta vez sin el parámetro que hemos usado anteriormente, simplemente indicamos los índices a eliminar:

In [ ]:
df_less_rows = df_no_michelin.drop([1,3])
df_less_rows

In [40]:
df_less_rows = df_no_michelin.drop([1,3])
df_less_rows

             name  Stars        type  AvgBill        Day  AvgHalfBill
0  Foreign Cinema      2  Restaurant    289.0     Monday       144.50
2        500 Club      3         bar     80.5  Wednesday        40.25

In [41]:
df_less_rows = df_no_michelin.drop([1,3])
df_less_rows

             name  Stars        type  AvgBill        Day  AvgHalfBill
0  Foreign Cinema      2  Restaurant    289.0     Monday       144.50
2        500 Club      3         bar     80.5  Wednesday        40.25